@import '../../style/scss/variables';

.pagination{
    margin: 0;
    justify-content: center;
    .page-item{
        .page-link{
            border: 0;
            color: white;
            background-color: $dark-custom;
        }
    }

    .active{
        .page-link{
            color: black;
            background-color: $orange;
            border-color: $orange;

            &:focus{
                color: white;
                box-shadow: 0 0 0 0.25rem rgba(226, 106, 44, .3);
            }
        }
    }

    .disabled{
        .page-link{
            color: #79B4B7;
            background-color: $dark-custom;
        }
    }
}