@import '../../style/scss/variables';

.pagination{
    margin: 0;
    justify-content: center;
    user-select: none;
    .page-item{
        .page-link{
            border: 0;
            color: white;
            background-color: $dark-custom;

            &:hover{
                color: white;
                background-color: rgb(14, 46, 53);
            }
        }
    }

    .active{
        .page-link{
            color: $dark-custom;
            background-color: $orange;
            border-color: $orange;

            &:focus{
                color: white;
                box-shadow: 0 0 0 0.25rem rgba(226, 106, 44, .3);
            }
        }
    }

    .disabled{
        .page-link{
            color: #79B4B7;
            background-color: $dark-custom;
        }
    }
}