$theme-colors: (
    "purple": rgb(152, 82, 173),
);

@function theme-color($key: "primary") {
    @return map-get($theme-colors, $key);
}

html, body, #root{
    height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
}

::-moz-selection {
    background: rgba(0, 255, 255, .7);
}

::selection {
    background: rgba(0, 255, 255, .7);
}

//IMPORT
@import "~bootstrap/scss/bootstrap";
@import "./fonts/OpenSans-Light.ttf";
@import "./fonts/OpenSans-Regular.ttf";

@import "../layout/Header/style.scss"; // HeaderStyle
//