$primary: #0d6efd;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;
$dark-custom: #206876;
$purple: rgb(152, 82, 173);

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "purple":     $purple,
  "dark-custom": $dark-custom
);

@function theme-color($key: "primary") {
    @return map-get($theme-colors, $key);
}

//IMPORT
@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-Light.ttf') format('truetype');
    font-display: auto;
}

@import "../layout/Header/style.scss"; // HeaderStyle
//

html, body, #root{
    height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bold;
}

.custom-link{
    color: white;
}

::-moz-selection {
    background: rgba(0, 255, 255, .7);
}

::selection {
    background: rgba(0, 255, 255, .7);
}